.page-content
{
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #ecf0f3;
}

.container
{
    width: 45%;
    height: 45vh;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 12px 12px 20px #cbced1,
                -12px -12px 20px #ffffff;
}

.display #outputBox
{
    width: 97%;
    min-height: 45px;
    font-size: 35px;
    outline: none;
    border: solid #cbced1;
    text-align: right;
    border-radius: 6px;
    grid-template-rows: minmax(7rem,auto) repeat(5, 6rem);
    word-wrap: break-word;
    word-break: break-all;
}

.btns
{
    width: 100%;
    margin-top: 1.7em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btns .row 
{
    padding: 3.5px;
}

.btns .row button
{
    width: 80px;
    height: 30px;
    font-size: 16px;
    border: none;
    outline: none;
    margin: 5px;
    border-radius: 4px;
    box-shadow: 5px 5px 8px #00000020,
                -5px -5px 8px #ffffff;
}

#eval
{
    background: #33ccff;
    color: #fff;
}

#deg
{
    color:grey;
}

#numbtn
{
    background: #ffffff;
    color: black;
}